@font-face {
    font-family: 'Conduit ITC';
    src: url('ConduitITC-Bold.eot');
    src: url('ConduitITC-Bold.eot?#iefix') format('embedded-opentype'),
        url('ConduitITC-Bold.woff2') format('woff2'),
        url('ConduitITC-Bold.woff') format('woff'),
        url('ConduitITC-Bold.ttf') format('truetype'),
        url('ConduitITC-Bold.svg#ConduitITC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Conduit ITC';
    src: url('ConduitITC.eot');
    src: url('ConduitITC.eot?#iefix') format('embedded-opentype'),
        url('ConduitITC.woff2') format('woff2'),
        url('ConduitITC.woff') format('woff'),
        url('ConduitITC.ttf') format('truetype'),
        url('ConduitITC.svg#ConduitITC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conduit ITC';
    src: url('ConduitITC-Medium.eot');
    src: url('ConduitITC-Medium.eot?#iefix') format('embedded-opentype'),
        url('ConduitITC-Medium.woff2') format('woff2'),
        url('ConduitITC-Medium.woff') format('woff'),
        url('ConduitITC-Medium.ttf') format('truetype'),
        url('ConduitITC-Medium.svg#ConduitITC-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Conduit ITC';
    src: url('ConduitITC-Light.eot');
    src: url('ConduitITC-Light.eot?#iefix') format('embedded-opentype'),
        url('ConduitITC-Light.woff2') format('woff2'),
        url('ConduitITC-Light.woff') format('woff'),
        url('ConduitITC-Light.ttf') format('truetype'),
        url('ConduitITC-Light.svg#ConduitITC-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Carnivalee Freakshow';
    src: url('CarnivaleeFreakshow.eot');
    src: url('CarnivaleeFreakshow.eot?#iefix') format('embedded-opentype'),
        url('CarnivaleeFreakshow.woff2') format('woff2'),
        url('CarnivaleeFreakshow.woff') format('woff'),
        url('CarnivaleeFreakshow.ttf') format('truetype'),
        url('CarnivaleeFreakshow.svg#CarnivaleeFreakshow') format('svg');
    font-weight: 300;
    font-style: normal;
}

